.bmlt-tabs #ui-tabs {
	display: none;
}
.bmlt-tabs .hide {
	display: none!important
}
.bmlt-tabs .show {
	display: block!important
}
.bmlt-tabs .select2-results {
	max-height: 400px !important;
	padding: 0 0 0 4px;
	margin: 4px 4px 4px 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.bmlt-tabs .select2-result-label {
	font-size: 12px;
}
.bmlt-tabs .bmlt-time {
	margin-bottom:8px;
}
.bmlt-tabs .bmlt-comments {
	margin-top:8px;
}
.bmlt-tabs div.meeting-header{
	font-size:1.3em;
	font-weight:bold;
	padding-left:.8em;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #08578E;
	display: none;
}
.bmlt-tabs .ui-state-active.bmlt_alt_0 {
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
}
.bmlt-tabs .ui-state-active.bmlt_alt_1 {
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
}
.bmlt-tabs .ui-state-default.bmlt_alt_0 {
	font-size: 110%;
}
.bmlt-tabs .ui-state-default.bmlt_alt_1 {
	font-size: 110%;
}
.bmlt-tabs .bmlt-column1 {
	text-align: left;
	width: 30%;
}
.bmlt-tabs .bmlt-column2 {
	text-align: left;
	width: 55%;
}
.bmlt-tabs .bmlt-column3 {
	vertical-align: middle !important;
	text-align: center;
	width: 15%;
}
.bmlt-tabs .ui-bmlt-header {
	border: 1px solid #08578E !important;
	padding: .4em 0 .4em .4em;
	margin-bottom: 10px;
}
.bmlt-tabs .ui-bmlt-column3 {
	vertical-align: middle !important;
	text-align: center;
	width: 15%;
}
.bmlt-tabs .ui-bmlt-table td, .bmlt-tabs .bmlt-table td {
	border: 1px solid #AFC7D8;
	padding: .8em;
}
.bmlt-tabs table.ui-bmlt-table {
	margin-top: 0;
	border-collapse: collapse;
	margin-bottom: 0px;
	background-color: #FFF;
	width: 100%;
}
.bmlt-tabs #bmlt-table-div  table.bmlt-table, .bmlt-tabs #ui-tabs  table.bmlt-table, .bmlt-tabs table.bmlt-table {
	background-color: #FFF;
	margin-top: 0;
	margin-bottom: 0;
	border-collapse: collapse;
	width: 100%;
	border: 1px;
}
.bmlt-tabs #bmlt-table-div {
	border: 1px solid #08578E;
	margin-bottom: 10px;
}
.bmlt-tabs #bmlt-table-div  .bmlt-table.header, .bmlt-tabs #ui-tabs .bmlt-table.header {
	margin-bottom: 0;
	border: 1px;
}
.bmlt-tabs #bmlt-table-div  .bmlt-table td, .bmlt-tabs #ui-tabs .bmlt-table td {
	border: 1px solid #AFC7D8;
	padding: .8em;
}
.bmlt-tabs #bmlt-table-div .bmlt-table th, .bmlt-tabs #ui-tabs .bmlt-table th {
	border: 1px solid #AFC7D8;
	padding: .4em 0 .4em .8em;
}
.bmlt-tabs #bmlt-table-div .bmlt-table th {
background: #93C3CD url(images/ui-bg_diagonals-small_50_93c3cd_40x40.png) 50% 50% repeat !important;
font-weight: bold;
color: #333;
}
.bmlt-tabs .bmlt-button.ui-button-text {
	line-height: 0 !important;
	font-size: .8em;
	padding: .5em 0 .4em 0 !important;
}
.bmlt-tabs .bmlt-button-weekday.ui-button-text {
	line-height: 2px !important;
	font-size: 1.0em;
	padding: .5em 0 .5em 0 !important;
}
.bmlt-tabs .bmlt-button-weekday {
	color: #fff !important;
}
.bmlt-tabs .bmlt-button-weekday.ui-button-text:hover {
	color: #000 !important;
}
.bmlt-tabs .ui-button:hover {
border: 1px solid #999 !important;
background: #CCD232 url(images/ui-bg_diagonals-small_75_ccd232_40x40.png) 50% 50% repeat !important;
color: #000 !important;
}
.bmlt-tabs .ui-widget-header th {
	text-align: left;
	font-size: 1.2em;
	border: 1px solid #08578E;
	padding: .8em;
}
.bmlt-tabs #day {
	background: #DB4865 url(images/ui-bg_diagonals-small_40_db4865_40x40.png) 50% 50% repeat !important;
	font-weight: normal;
	font-size: 1.0em;
}
.bmlt-tabs .meetings_per {
	text-transform: uppercase;
}
.bmlt-tabs .we_now_have {
	font-weight: normal;
}
.bmlt-tabs .cities thead th {
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
	padding: 8px;
	border: 1px solid #DDD;
}
.bmlt-tabs .weekdays {
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
	font-size: 16px !important;
	padding: 8px;
	border: 1px solid #DDD;
}
.bmlt-tabs .bmlt_alt_0 {
	background-color: #FFF;
	text-align: left
}
.bmlt-tabs .bmlt_alt_1 {
	background-color: #FFF;
	text-align: left
}
.bmlt-tabs .bmlt_simple_meeting_one_meeting_time_td {
	width: 63px!important;
	font-size: 14px;
}
.bmlt-tabs .bmlt_simple_meeting_one_meeting_time_t2_td {
	width: 30%;
	text-align: left;
	font-size: 14px;
}
.bmlt-tabs .bmlt_simple_meeting_one_meeting_address_t2_td {
	width: 50%;
	text-align: left;
	font-size: 14px;
}
.bmlt-tabs .bmlt_simple_meeting_one_meeting_map_t2_td {
	width: 20%;
	text-align: center;
	vertical-align: middle!important;
	font-size: 14px;
}
.bmlt-tabs table.bmlt_simple_meetings_table, .bmlt-tabs .bmlt_simple_format_table {
	border-collapse: collapse!important;
	margin: 0 !important;
}
.bmlt-tabs .bmlt_simple_meetings_table td, .bmlt-tabs .bmlt_simple_format_table, .bmlt-tabs .cities td {
	border: 1px solid #DDD;
	padding: 8px!important;
}
.bmlt-tabs .ui-dialog .ui-dialog-content {
	padding: .1em !important;
}
.bmlt-tabs .ui-widget-content {
border: 0 !important;
}
.bmlt-tabs #ui-tabs .ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
-moz-border-radius-bottomright: 0 !important;
-webkit-border-bottom-right-radius: 0 !important;
-khtml-border-bottom-right-radius: 0 !important;
border-bottom-right-radius: 0 !important;
-moz-border-radius-bottomleft: 0 !important;
-webkit-border-bottom-left-radius: 0 !important;
-khtml-border-bottom-left-radius: 0 !important;
border-bottom-left-radius: 0 !important;
margin: 0;
}
.bmlt-tabs .ui-tabs .ui-tabs-panel, .bmlt-tabs .ui-dialog {
display: block;
border-width: 0;
padding: .3em !important;
background: #35414F url(images/ui-bg_dots-small_35_35414f_2x2.png) 50% 50% repeat !important;
}
.bmlt-tabs .ui-widget-header {
border: 0 !important;
}
.bmlt-tabs .ui-tabs .ui-tabs-nav {
margin: 0;
padding: .3em 0em 0 .4em;
}
.bmlt-tabs .ui-tabs {
padding: 0;
}
.bmlt-tabs .ui-tabs .ui-tabs-nav li {
line-height: 15px;
}